APP_ENV=development
SECRET_KEY=change-me-in-production

POSTGRES_USER=hicampus
POSTGRES_PASSWORD=hicampus
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=hicampus

NAVER_MAP_CLIENT_ID=your_ncp_client_id
NAVER_MAP_CLIENT_SECRET=your_ncp_client_secret
